<li>
	<div class="name">Attribute 1</div>
	<label>
		Enabled If
		<%- include("formula_box", { label_class: "enabled_if" }) %>
	</label>
	<button class="delete icon"><%- svg(include, "trash") %></button>
</li>
