<li>
	<h4 class="name hidden_in_edit_mode">New Property</h4>
	<div class="name_and_id hidden_in_view_mode">
		<input type="text" class="name plain_sight" placeholder="New Property"/>
		<input type="text" class="id plain_sight" placeholder="new_property"/>
	</div>
	<span class="result">0</span>
	<button class="delete icon hidden_in_view_mode"><%- svg(include, "trash") %></button>
</li>
